@import url("https://fonts.googleapis.com/css?family=Varela+Round");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Varela Round", Helvetica, sans-serif;
  color: #555F61;
  line-height: 1.8rem;
}

a {
  color: #ffffff;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

a:hover, a:focus {
  color: #ff7773;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  color: #ff7773;
  text-transform: none;
}

p {
  font-size: 18px;
  line-height: 1.8rem;
  margin-bottom: 20px;
}

section {
  padding: 150px 0;
}

section h2 {
  font-size: 50px;
}

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  color: #ff7773;
  text-transform: none;
}

#mainNav .navbar-brand {
  color: #ffffff;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  color: #ff7773;
  text-transform: none;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #e6e6e6;
}

#mainNav .navbar-toggler {
  font-size: 18px;
  padding: 8px 10px;
  color: #ff7773;
  border: none;
}

#mainNav .logo-text {
  width: 30%;
}

#mainNav .navbar-nav > li > a {
  font-size: 11px;
  text-align: center;
  font-family: "Varela Round", Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: #ff7773 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #ff7773;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #ff7773;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .logo-text-mobile {
    display: none;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: #ff7773;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #ff7773;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #ff7773;
  }
}

@media (max-width: 991px) {
  #mainNav .logo-text {
    display: none;
  }
  #mainNav .logo-text-mobile {
    width: 9rem;
  }
}

@media (max-width: 600px) {
  #mainNav .logo-text-mobile {
    width: 8rem;
  }
}

header.masthead {
  position: relative;
  height: 100vh;
  width: 100%;
  padding-top: 150px;
  color: white;
  background: -webkit-linear-gradient(to right, #f8ac85, #e46b8a);
  background: linear-gradient(to right, #f8ac85, #e46b8a);
  background-position: right bottom;
}

header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}

header.masthead .header-content h1 {
  font-size: 30px;
}

header.masthead .hack-text {
  width: 80%;
}

header.masthead #info-box {
  z-index: 999;
  margin-left: -80px;
}

header.masthead #women {
  padding: 0 0px 0px 0px;
  position: absolute;
  bottom: -50px;
  right: 0px;
  width: 65%;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
  }
  header.masthead .header-content h1 {
    font-size: 50px;
  }
}

@media (max-width: 1367px) {
  header.masthead #women {
    width: 70%;
    bottom: -10px;
  }
}

@media (max-width: 1200px) {
  header.masthead #info-box {
    margin-left: -270px;
  }
}

@media (max-width: 1113px) {
  header.masthead #info-box {
    margin-left: 0px;
  }
  header.masthead #women {
    display: none;
  }
}

section.about {
  position: relative;
}

section.about h2 {
  font-size: 50px;
  margin-top: 0;
}

section.about .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}

section.about .badges .badge-link:last-child {
  margin-bottom: 0;
}

section.about .badges .badge-link img {
  height: 60px;
}

@media (min-width: 768px) {
  section.about .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

section.about .container {
  padding: 0px 30px;
}

section.about .card {
  border: none;
  margin-bottom: 40px;
}

@media (min-width: 400px) {
  section.about .container {
    padding: 0px 50px;
  }
}

@media (min-width: 700px) {
  section.about .container {
    padding: 0px 0px;
  }
}

@media (min-width: 830px) {
  section.about h2 {
    font-size: 70px;
  }
  section.about .container {
    padding: 0px 80px;
  }
  section.about .card {
    margin-bottom: 30px;
  }
}

section.faq {
  background: #ff7773;
}

section.faq h1 {
  margin-top: 0;
  color: #ffffff;
}

section.faq .section-heading {
  margin-bottom: 70px;
}

section.faq .section-heading p {
  margin-bottom: 0;
}

section.faq .content {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075), 0 2px 4px rgba(0, 0, 0, 0.0375);
  padding: 0px 20px;
}

section.faq .panel-title {
  margin-bottom: 0px;
}

section.faq .panel-group {
  margin-bottom: 0;
}

section.faq .panel-group .panel {
  border-radius: 0;
  box-shadow: none;
}

section.faq .panel-group .panel .panel-heading {
  padding: 0;
}

section.faq .panel-group .panel .panel-heading h5 a {
  background: #fff;
  border-bottom: 1px solid #f4f4f4;
  display: block;
  font-weight: 400;
  padding: 35px 10px;
  color: #ff7773;
  text-decoration: none;
  transition: 0.15s all ease-in-out;
}

section.faq .contact {
  color: #ffffff;
  padding-top: 40px;
  max-width: 500px;
  margin: 0 auto;
}

@media (max-width: 700px) {
  section.faq .panel-group .panel .panel-heading h5 a {
    font-size: 18px;
  }
}

section.faq .panel-group .panel .panel-heading h5 a:hover, section.faq .panel-group .panel .panel-heading h4 a:not(.collapsed) {
  background: #fff;
  transition: 0.15s all ease-in-out;
}

section.faq .panel-group .panel .panel-heading h5 a:not(.collapsed) i:before {
  content: "-";
}

section.faq .panel-group .panel .panel-heading h5 a i {
  color: #ff7773;
  padding-right: 10px;
}

section.faq .panel-group .panel .panel-body {
  padding: 20px;
}

section.faq .panel-group .panel .panel-heading + .panel-collapse > .list-group,
section.faq .panel-group .panel .panel-heading + .panel-collapse > .panel-body {
  border-top: none;
}

section.faq .panel-group .panel + .panel {
  border-top: none;
  margin-top: 0;
}

section.schedule {
  position: relative;
  padding: 150px 0;
}

section.schedule h2 {
  font-size: 50px;
  margin-top: 0;
}

section.schedule .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}

section.schedule .badges .badge-link:last-child {
  margin-bottom: 0;
}

section.schedule .badges .badge-link img {
  height: 60px;
}

@media (min-width: 768px) {
  section.schedule .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  section.schedule h2 {
    font-size: 70px;
  }
}

footer {
  padding: 60px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background: #ffffff;
}

footer p {
  font-size: 12px;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
}

footer .tesc {
  width: 4rem;
}

.bg-primary {
  background: #ffffff !important;
}

.text-muted {
  color: #8f5985 !important;
}

.text-primary {
  color: #ffffff;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: #ff7773;
  border-color: #ffffff;
  background-color: #ffffff;
}

.btn {
  border-radius: 300px;
  font-family: "Varela Round", Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}

#volunteer {
  margin-left: 10px;
}

@media (max-width: 400px) {
  #volunteer {
    margin-top: 10px;
  }
}

@media (max-width: 370px) {
  #volunteer {
    margin-top: 10px;
    margin-left: 0px;
  }
}
