section.schedule {
    .container {
        padding: 0px 30px;
    }

    @media (min-width: 400px) {
        .container {
            padding: 0px 30px;
        }
    }

    @media (min-width: 830px) {
        .container {
            padding: 0px 200px;
        }

    }
    margin-top: -200px;

    .table thead th {
        color: $orange;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-size: 1rem;
        font-weight: 400;
        text-align:left;
        padding: 1.5rem;
        border-top: 1px solid $theme-secondary;
        border-bottom: 1px solid $theme-secondary;
    }

    .table td {
        padding: 1.5rem;
        text-align: left;
        border-top: 1px dotted #eee;
        font-size: 1.2rem;
        vertical-align: middle;
    }

    .table-success>td {
      background-color: $orange !important;
      border-top: none;
      color: $theme-primary;
      vertical-align: middle;
      padding: 1.5rem;
      font-size: 1.2rem;
    }

    .no-border {
        border-top: 0px solid #eee;
    }

    .solid-border {
        border-top: 1px solid #eee;
    }

    .dotted-border {
        border-top: 1px dotted #eee;
    }

    .text-faded {
        color: #ffc5c3;
    }

    .small-emoji {
        font-size: 0.9rem;
    }

    .padding-fix>td {
        color: $theme-primary;
        background-color:$theme-primary;
        border-top: $theme-primary 0px;
    }
}
